<div class="mb-3">
    <label for="{INPUTID}" class="form-label">{TITLE}</label>
    <select class="form-select" aria-label="Default select example" id="{INPUTID}" {REQUIRED} defaultValue="{DEFAULT}">
        <option selected>{DEFAULT}</option>
        {OPTIONS}
    </select>
    <div class="invalid-feedback">
        {VALIDATIONMESSAGE}
    </div>
</div> 

