<div class="mb-3">
    <label for="{INPUTID}" class="form-label">{TITLE}</label>
    <input type="text" class="form-control" id="{INPUTID}" placeholder="{PLACEHOLDER}" {REQUIRED} pattern="{PATTERN}">
    <div class="invalid-feedback">
        {VALIDATIONMESSAGE}
    </div>
</div> 
